Mods/*
OpenComputersMod-1.7.5.1290-lua*
asm/*
assets/*
backups/*
crash-reports/*
warpDrive_schematics/*
versions/*
stencil*
shaderpacks/*
saves/*
logs/*
libraries/*
launcher*
journeymap/*
ic2/*
fonts/*
*.log
servers.dat
optionsshaders.txt
PlayerCache.dat

updateLog.txt

usernamecache.json

optionsof.txt

options.txt
