# Configuration file

"custom greeting message" {
    B:"1. Display custom greeting message when joining a world?"=false

    # A message that will be displayed in chat when a game is loaded. Will only display if 'Display custom greeting message when joining a world?' equals true [default: Hello there! Welcome to my modpack.]
    S:"2. Custom greeting message text"=Hello there! Welcome to my modpack.
}


"custom messagebox" {
    B:"1. Show custom messagebox when game loads?"=false
    B:"2. Display message box on top of all other windows?"=true

    # Enter popup text. Will only display if 'Show custom messagebox when game loads?' equals true [default: Hello World!!]
    S:"3. Custom Messagebox text"=Hello World!!
}


"display webpage" {
    B:"1. Open web browser to URL when game loads?"=false

    # Enter URL to be launched. Will only display if 'Open web browser to URL when game loads?' equals true [default: http://minecraft.curseforge.com/projects/config-checker]
    S:"2. URL to webpage"=http://minecraft.curseforge.com/projects/config-checker
}


"ram recommendation" {
    I:"1. Ram Recommended (IN MB)"=2048
    B:"2. Check RAM meets recommendation?"=true
    B:"3. Display message box on top of all other windows?"=true
    B:"4. Display custom text in message box if RAM recommendations not met?"=false

    # Enter custom text to be shown if RAM recommendation not met. Will only display if 'Display custom text in message box if RAM recommendation not met?' equals true [default: You should add more RAM.]
    S:"5. Custom recommendation text"=You should add more RAM.
    B:"6. Show warning in game chat if RAM recommendation not met?"=true
    B:"7. Customise game chat RAM recommendation message?"=false

    # Enter custom text to be shown in game chat if RAM recommendation not met. Will only display if 'Set custom message for RAM recommendation when joining a world?' equals true [default: [WARNING] You should assign more RAM to this modpack.]
    S:"8. Custom chat message"=[WARNING] You should assign more RAM to this modpack.
}


"ram requirement" {
    I:"1. Ram Required (IN MB)"=1024
    B:"2. Check RAM meets requirement?"=false
    B:"3. Display message box on top of all other windows?"=true
    B:"4. Display custom text in message box if RAM requirement not met?"=false

    # Enter custom text to be shown if RAM requirement not met. Will only display if 'Display custom text in message box if RAM requirement not met?' equals true [default: You need more RAM.]
    S:"5. Custom requirement text"=You need more RAM.
}


"version setting" {
    I:"Config Version"=1
}


